body {
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
	margin: 0 !important;
	color: var(--oc-gray-8) !important;
	background: var(--oc-white) !important;
}

.rejs-wrapper {
	position: relative;
	width: 100%;
	max-width: 60em;
	margin: auto;
}

.container > header {
	background-color: var(--oc-red-8) !important;
	border-color: var(--oc-red-9) !important;
}

#account {
	padding: 0 !important;
}

/* @TODO Only show this element if there are *actually* news */
#sitenews {
	font-size: inherit !important;
	margin: 0 !important;
	text-align: center;
	background: var(--oc-red-1) !important;
}

.is-newslist #content {
	margin-top: 0 !important;
	padding: 0 !important;
}

/* @TODO Use page title as tab title */
.is-newslist #content > h2 {
	display: none;
}

.is-newslist #newslist {
	width: 100%;
	max-width: 60em;
	margin: 3.5em auto;
}

.is-newslist #newslist article {
	display: flex;
	flex-direction: column;
	margin: 0 0 2em 0 !important;
	padding: 1em 2em !important;
	padding-bottom: 0.5em !important;
	border-color: var(--oc-gray-3);
	color: var(--oc-gray-6);
}

.is-newslist #newslist article.active {
	border-style: solid;
	border-color: var(--oc-gray-5);
	background-color: var(--oc-gray-0);
}

/* @TODO Re-implement voting via JS */
.is-newslist .uparrow,
.is-newslist .downarrow {
	display: none !important;
}

#newslist article address {
	order: 2;
	margin: 0 0 1em 0;
}

#newslist article h2 {
	order: 1;
	margin: 0 !important;
	color: var(--oc-gray-8) !important;
}

#newslist article h2 a {
	color: inherit;
}

#newslist .meta {
	display: flex;
	justify-content: space-between;
	order: 3;
	font-size: 0.875em;
	padding: 0.5em 0;
	border-width: 0.0625em 0 0 0;
	border-style: solid;
	border-color: var(--oc-gray-3);
}
